:root {
  --mainBrown: #524546;
  --mainLightBrown: #894c16;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --mainBlue: #94c0ce;
  --mainLightBlue: #c6dae0;
  --mainPeach: #ffcba4;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

h1 {
  font-size: 5.0vmin;
}
h2 {
  font-size: 4.0vmin;
}
h3 {
  font-size: 3.5vmin;
}
h4 {
  font-size: 3.0vmin;
}
h5 {
  font-size: 2.5vmin;
}
h6 {
  font-size: 2.0vmin;
}


p {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  /* font-size: 2vmin; */
}

.link-block {
  width: 100%;
}

a {
  text-decoration: none !important;
}

.navbar-brand {
  color: var(--mainLightBrown) !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.text-dark {
  color: var(--mainDark);
}

.navbar-peach {
  background: var(--mainPeach) !important;
}

.nav-link {
  font-weight: bold;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.default-background,
.about-background,
.contact-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 1 !important;
  background-position: center;
  background-size: cover;
}

.default-background{
  background: linear-gradient(rgba(17, 157, 204, 0.3), rgba(48, 72, 211, 0.3));
  min-height: 55vh;
  opacity: 1 !important;
  background-position: center;
  background-size: cover;
}

.index-bottom {
  background: white;
  /* background:linear-gradient(#d4e0e4, #ffffff); */
  /* background:linear-gradient(#5b86e5, #36D1DC); */
}

.about-background {
  min-height: 60vh;
}
.contact-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  color: var(--mainBrown) !important;
  background: var(--mainYellow);
}

.footer {
  background: var(--mainLightBlue);
}

.header {
  background: var(--mainBlue);
  margin-bottom: 0%;
  font-weight: bold;
  font-family: Georgia, serif;
}

.menu {
  background: var(--mainGrey);
}

.bordered-image{
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.title-bg{
  background: linear-gradient(rgba(207, 216, 219, 0.6), rgba(113, 188, 211, 0.6));
  background-position: center;
  background-size: cover;
}

.required-field::after {
  content: " *";
  color: red;
}