@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

:root {
  --mainBrown: #524546;
  --mainLightBrown: #894c16;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --mainBlue: #94c0ce;
  --mainLightBlue: #c6dae0;
  --mainPeach: #ffcba4;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

html {
  height: 100%;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

/* h1 {
  font-size: 5vmin;
}
h2 {
  font-size: 4vmin;
}
h3 {
  font-size: 3.5vmin;
}
h4 {
  font-size: 3vmin;
}
h5 {
  font-size: 2.5vmin;
}
h6 {
  font-size: 2vmin;
} */

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  /* font-size: 2vmin; */
}

.link-block {
  width: 100%;
}

a {
  text-decoration: none !important;
}

.navbar-brand {
  color: var(--mainLightBrown) !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.text-dark {
  color: var(--mainDark);
}

.navbar-peach {
  background: var(--mainPeach) !important;
}

.nav-link {
  font-weight: bold;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.index-bottom {
  background: white;
  /* background:linear-gradient(#d4e0e4, #ffffff); */
  /* background:linear-gradient(#5b86e5, #36D1DC); */
}

.default-background,
.about-background,
.contact-background,
.services-background,
.testimonials-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.default-background {
  min-height: 40vh;
  background: linear-gradient(rgba(17, 157, 204, 0.3), rgba(48, 72, 211, 0.3));
  opacity: 1 !important;
  background-position: center;
  background-size: cover;
}

.about-background,
.contact-background,
.services-background {
  min-height: 60vh;
}

.services-background {
  height: auto;
  background-repeat: no-repeat !important;
  background-position-x: center !important;
  background-position: top; 
  background-size: contain;
}

.testimonials-background {
  min-height: 35vh;
  background: linear-gradient(rgba(17, 157, 204, 0.3), rgba(48, 72, 211, 0.3));
  opacity: 1 !important;
  background-position: center;
  background-size: cover;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  color: var(--mainBrown) !important;
  background: var(--mainYellow);
}

.footer {
  background: var(--mainLightBlue);
  position: "sticky";
  bottom: 0;
}

.header {
  background: var(--mainBlue);
  margin-bottom: 0%;
  font-weight: bold;
  font-family: Georgia, serif;
}

.menu {
  background: var(--mainGrey);
}

.bordered-image {
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.title-bg {
  background: linear-gradient(
    rgba(207, 216, 219, 0.6),
    rgba(113, 188, 211, 0.6)
  );
  background-position: center;
  background-size: cover;
}

.required-field::after {
  content: " *";
  color: red;
}

.table {
  margin: 0 auto !important;
}

.service-name-col {
  width: 35%;
  text-align: center;
}

.service-descr-col {
  width: 65%;
}

.half-col-middle {
  width: 50%;
  text-align: center;
}

.blockquote::before {
  /*quote left icon*/
  /* font-family: FontAwesome; */
  /* content: '\f10d\2003'; */
  content: '"';
}

.blockquote::after {
  /*quote right icon*/
  /* font-family: FontAwesome;
  content: '\2003\f10e'; */
  content: '"';
}
